.summary {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.summary .green {
  color: #0fb022;
  font-size: 15px;
}

.summary .hr {
  display: none;
  float: left;
  width: 100%;
  height: 3px;
  background: url('./img/horizontal.png') no-repeat center center;
}

.summary .header {
  background: url("./img/header.png") no-repeat center top;
  background-size: 100% auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 10px;
  position: relative;
  z-index: 2;
}

.summary .order {
  float: left;
  padding: 42px 0;
  width: 40%;
}

.summary .order .ecommerce {
  float: left;
  background-image: url("./img/ecommerce.svg");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
  width: 20%;
}

.summary .order .text {
  line-height: 1;
  float: left;
  margin-top: 3px;
  padding-left: 10px;
  width: 40%;
}

.summary .order .text .green {
  margin-top: 5px;
}

.summary .order .quote {
  float: left;
  line-height: 1;
  margin-top: 3px;
  width: 40%;
}

.summary .order .quote .green {
  font-size: 25px;
  margin-top: 5px;
}

/* cart */
.summary .cart {
  float: left;
  width: 30%;
  padding: 42px 0 42px 25px;
  position: relative;
}

.summary .cart .vertical {
  height: 100px;
  width: 3px;
  background: url('./img/vertical.png') no-repeat center center;
  background-size: 80%;
  margin-bottom: -70px;
  margin-top: -24px;
  position: absolute;
  top: 45px;
}

.summary .cart .vertical.left {
  left: 0;
}

.summary .cart .vertical.right {
  right: 0;
}

.summary .cart .new {
  background-image: url("./img/new.svg");
  background-size: 68px 58px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
  width: 35%;
  float: left;
}

.summary .cart .text {
  line-height: 1;
  margin-top: 3px;
  float: left;
  width: 65%;
}

.summary .cart .text .green {
  margin-top: 5px;
}

/* user */
.summary .user {
  float: left;
  position: relative;
  z-index: 2;
  width: 30%;
  padding: 42px 0 42px 30px;
}

.summary .user .followers {
  background-image: url("./img/followers.svg");
  background-size: 53px 46px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 46px;
  width: 25%;
  float: left;
}

.summary .user .text {
  line-height: 1;
  margin-top: 3px;
  width: 75%;
  float: left;
}

.summary .user .text .green {
  margin-bottom: 3px;
}

/* tick */
.summary .tick {
  fill: #f0f0f0;
  position: absolute;
  bottom: -3px;
  right: -42px;
  width: 200px;
  height: 200px;

  background-image: url("./img/tick.svg");
  background-size: 200px 200px;
  background-position: center center;
  background-repeat: no-repeat;

  z-index: 1;
}

/* response */
.summary.responsive {
  font-size: 15px;
}

.summary.responsive .hr {
  display: block;
}

.summary.responsive .green {
  font-size: 16px;
}

.summary.responsive .order {
  padding: 35px 0;
}

.summary.responsive .order,
.summary.responsive .order .ecommerce,
.summary.responsive .order .text,
.summary.responsive .order .quote {
  text-align: center;
  width: 100%;
}

.summary.responsive .order .text {
  margin-top: 24px;
}

.summary.responsive .order .text .green {
  margin-top: 5px;
}

.summary.responsive .order .quote {
  margin-top: 5px;
}

.summary.responsive .order .quote .green {
  margin-top: 24px;
}

.summary.responsive .cart {
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.summary.responsive .cart .vertical {
  display: none;
}

.summary.responsive .cart .new,
.summary.responsive .cart .text {
  width: 100%;
}

.summary.responsive .cart .text {
  margin-top: 18px;
}

.summary.responsive .cart .text .green {
  margin-top: 5px;
}

.summary.responsive .user {
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.summary.responsive .user .followers,
.summary.responsive .user .text {
  width: 100%;
}

.summary.responsive .user .text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary.responsive .user .text .green {
  margin-bottom: 5px;
}
